$color-scheme: 'dark';

// @if $color-scheme == 'light' {
  // $font-color: #151515;
  // $href-color: #35354F;
// } @else {
  $font-color: #dedede;
  $href-color: #9C9CCE;
// }

$light-grey: #444;
$purple: #512C73;
$purple-light: #6F3D8F;
$purple-lightest: #9277AC;